body {
  color: white;
}
header{
  background-color: red;
  text-align: center;
  padding: 10px;
}
article{
  background-color: Green;
  float: left;
    width: 100%;
    height: 600px;
}
footer{
  background-color: blue;
  padding: 10px;
}
